h1{
    font-family: 'Poppins', sans-serif;
    padding: 10%;
    margin-right: 4.375rem;
    margin-bottom: -10px;
}
body{
    background-color: #D2E9E9;
}
.main{
    margin-top: 5%;
    height: 37rem;
    width: 30%;
    background-color: white;
    border-radius: 0.625rem;
}
.of{
    margin-right: 5.25rem;
}
.card{
    font-family: 'Poppins', sans-serif;
    margin-right: 13.25rem;
    line-height: 3rem;
}
#pass{
    margin-right: 1.75rem;
}
.hi{
    margin-right: -12.875rem;
    height: 2.125rem;
    width: 20rem;
    border-radius: 0.5rem;
    background-color: lightgrey;
}
.me{
    font-family: 'Poppins', sans-serif;
    margin-right: 11.5625rem;
    font-size: 1.1rem;
}
.checkbox{
    width: 0.9375rem;
    height: 0.9375rem;
}
.btn{
    background-color: #7c48bf;
    color: white;
    height: 2.5rem;
    width: 20.625rem;
    border-radius: 0.5rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
@media( max-width: 500px ){
    .main{
       height: 40rem;
       width: 23rem;
}

}



